/* small mobile */
@media (min-width: 250px) {
  .wrapper {
    width: 100%;
  }

  .sidebar-wrapper {
    max-width: 320px;
    width: 100%;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 20;
    transition: all 0.3s;
  }

  .sidebar-wrapper.close {
    left: 0;
  }

  .close_btn {
    position: absolute;
    top: 5px;
    right: 10px;
    color: white;
    font-size: 28px;
    z-index: 10;
    cursor: pointer;
  }

  .side_nav {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
  }

  .top {
    width: 100%;
    /* border: 1px solid red; */
    background-color: black;
    min-height: 200px;
    gap: 1rem;
  }

  .user_img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: rgb(195, 195, 195);
    font-size: 80px;
    color: white;
  }

  .user_name {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--bg-color);
  }

  .nav_container {
    /* border: 1px solid red; */
    height: 100%;
  }

  .nav_container .menu-item {
    color: black;
    padding: 8px 0.5rem;
    font-size: 1.2rem;
    gap: 5px;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s;
  }

  .nav_container .menu-item:hover {
    background-color: rgb(255, 117, 31);
    color: black;
  }

  .nav_container .menu-item .icon {
    font-size: 1.8rem;
    padding: 0rem 0.5rem;
  }

  .dashboard-wrapper {
    height: 100dvh;
    width: 100%;
    overflow: auto;
    position: relative;
  }

  .header.section-padding {
    width: 100%;
    padding: 8px 5px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
    /* border: 1px solid red; */
  }

  .header .logo {
    width: 100px;
    margin-right: 0.5rem;
  }

  .header .logo img {
    width: 100%;
    object-fit: cover;
  }

  .menu_btn {
    font-size: 1.3rem;
    padding: 0rem 0.5rem;
    font-weight: 600;
    cursor: pointer;
  }

  .welcome_note {
    display: none;
  }

  .blog_section-3 {
    height: 90dvh;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
  }

  .section-padding {
    padding: 1rem;
  }

  .filter_container {
    width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }

  .search_form {
    width: 100%;
    background-color: rgb(235, 235, 235);
    border-radius: 50px;
    overflow: hidden;
  }

  .search_form input {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent;
  }

  .search_form button {
    padding: 0.3rem 1rem;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: 600;
    font-size: 18px;
    color: gray;
  }

  .category_container {
    width: 100%;
    gap: 1rem;
    align-items: center;
    overflow: hidden;
  }

  .category_container button {
    flex-shrink: 0;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
  }

  .category_container .section-heading {
    display: none;
  }

  .categories {
    gap: 0.5rem;
    overflow: auto;
    transition: all 0.5s;
  }

  .categories::-webkit-scrollbar {
    display: none;
  }

  .categories .category {
    /* background-color: var(--bg-color); */
    padding: 5px 15px;
    width: fit-content;
    text-wrap: nowrap;
    border-radius: 50px;
    font-weight: 500;
    border: 1px solid black;
  }

  .category.active {
    background-color: var(--bg-color);
    border-color: var(--bg-color);
  }

  .categories .category a {
    text-decoration: none;
    color: black;
  }

  /* Blog Container */
  .blogs_container {
    width: 100%;
    overflow: auto;
  }

  .blogs_container::-webkit-scrollbar {
    display: none;
  }

  .blogs {
    width: 100%;
    display: block;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    /* background-color: red; */
  }

  /* Table Row */
  table tr {
    border-bottom: 1px solid #e5e5e5;
    transition: all .3s;
  }

  table tr:hover{
    background-color: gainsboro;
  }

  /* Table Data */
  table td {
    padding: 15px 10px;
    vertical-align: middle;
  }

  /* Serial Number Styling */
  .sno {
    font-weight: bold;
    color: #666;
    width: 30px;
  }

  /* Blog Image Styling */
  .blog_img img {
    width: 100px;
    height: 80px;
    border-radius: 10px;
    object-fit: contain;
  }

  /* Blog Title Styling */
  .blog-title p {
    text-wrap: nowrap;
    font-size: 1rem;
    color: #333;
    font-weight: 600;
    /* margin-left: 15px; */
  }

  /* Icon Styles */
  .view_icon,
  .edit_icon,
  .delete_icon {
    cursor: pointer;
    font-size: 1.5rem;
    color: #888;
    transition: color 0.3s ease;
  }

  .view_icon:hover {
    color: #17a2b8; /* Blue for view */
  }

  .edit_icon:hover {
    color: #28a745; /* Green for edit */
  }

  .delete_icon:hover {
    color: #dc3545; /* Red for delete */
  }

   .pagination {
    gap: 1rem;
    margin-top: 1rem;
  }

  .next,
  .prev,
  .page {
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: 400;
    transition: all 0.3s;
  }

  .next,
  .prev {
    padding: 0.3rem 1rem;
    font-size: medium;
  }

  .next:hover,
  .prev:hover {
    background-color: var(--bg-color);
    color: white;
  }

  .page {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 16px;
  }

  .page.active {
    background-color: var(--bg-color);
    color: white;
  }
}

/* big mobile */
@media (min-width: 450px) {
}

/* tab */
@media (min-width: 760px) {
  .dashboard-wrapper .header {
    padding: 1rem;
  }

  .header .logo {
    width: 120px;
  }

  .filter_container {
    flex-direction: row;
  }

  .search_form {
    max-width: 250px;
  }

  .categories .category {
    /* background-color: var(--bg-color); */
    padding: 5px 20px;
  }

  .blog_section-3 {
    height: 85dvh;
  }
}

/* laptop */
@media (min-width: 1024px) {
  .sidebar-wrapper {
    width: 300px;
    position: relative;
    top: 0;
    left: 0;
  }

  .menu_btn {
    display: none;
  }

  .close_btn {
    display: none;
  }

  .nav_container .menu-item {
    padding: 5px 0.2rem;
    font-size: 1rem;
  }

  .nav_container .menu-item .icon {
    font-size: 1.5rem;
    padding: 0rem 0.5rem;
  }

  /* dashboard */
  .header.section-padding {
    padding: 1rem 2rem;
  }

  .welcome_note {
    display: block;
    font-weight: 500;
  }
  .search_form {
    max-width: 300px;
  }

  .category_container button {
    display: block;
  }

  .blog_section-3 {
    height: 90dvh;
  }

  .blog_img img {
    width: 150px;
  }
}

/* desktop */
@media (min-width: 1200px) {
  .nav_container .menu-item {
    padding: 0.5rem 0.2rem;
    font-size: 1.1rem;
  }
  .header.section-padding {
    padding: 1rem 3rem;
  }
  .header .logo {
    width: 150px;
  }

  .section-padding {
    padding: 1rem 2rem;
  }
  .filter_container {
    justify-content: space-between;
    gap: 5rem;
  }

  .search_form {
    max-width: 420px;
  }

  .category_container {
    gap: 1rem;
  }

  .blog_section-3 {
    height: 87dvh;
  }
}
