@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

:root {
  --bg-color: #fd904f;
  --orange: rgb(255, 102, 0);
  --text-color: black;
  --heading-font: "Saira";
}

a{
  text-decoration: none;
  color: black;
}

.banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-space-between {
  justify-content: space-between;
  align-items: center;
}

.flex-end {
  justify-content: flex-end;
  align-items: center;
}

.flex-start {
  justify-content: flex-start;
  align-items: center;
}

.btn:hover {
  background-color: var(--orange);
  color: white;
  border-color: transparent;
}

/* small mobile */
@media (min-width: 250px) {
  .flex-row {
    flex-direction: column;
  }

  .para-font {
    font-size: 13px;
  }

  .btn {
    border-radius: 50px;
    border: none;
    outline: none;
    font-weight: 500;
    border: 2px solid orange;
    color: orange;
    background-color: transparent;
    transition: all 0.3s;
    cursor: pointer;
    padding: 0.3rem 1.5rem;
    font-size: 1rem;
  }

  .section {
    width: 100%;
    min-height: 100dvh;
    height: 100%;
  }

  .section-heading h1 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    font-family: var(--heading-font);
  }

  .section-padding {
    padding: 2rem 1rem;
  }

  .p-x {
    padding: 0;
  }

  .h-3 {
    font-weight: 600;
    font-size: 18px;
  }
}

/* mobile */
@media (min-width: 450px) {
  .para-font {
    font-size: 15px;
  }

  .section-heading h1 {
    font-size: 2.5rem;
  }

  .section-padding {
    padding: 2rem;
  }
}

/* tab */
@media (min-width: 750px) {
  .flex-row {
    flex-direction: row;
  }

  .para-font {
    font-size: 16px;
  }

  .btn {
    padding: 0.5rem 2rem;
  }

  .h-3 {
    font-size: 20px;
  }
}

/* laptop */
@media (min-width: 1020px) {
  .section {
    min-height: 80dvh;
  }
}

/* desktop */
@media (min-width: 1200px) {
  .p-x {
    padding: 0rem 3rem;
  }

  .section {
    min-height: 100dvh;
  }

  .section-padding {
    padding: 1rem 3rem;
  }
}
