<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Document</title>
  </head>
  <body>
    <footer class="flex section section-padding">
      <div class="footer-wrapper flex flex-row">
        <div class="container flex">
          <div class="about flex flex-col gap-1">
            <div class="logo">
              <img src="/images/trslogo.png" alt="" />
            </div>
            <div class="content">
              <p class="para-font">
                the ultimate platform where creativity and knowledge come
                together. Whether you’re a seasoned writer, a passionate
                hobbyist, or just someone with a story to tell, BlogSphere is
                your go-to space for sharing diverse content across a multitude
                of categories.
              </p>
            </div>
          </div>
        </div>

        <div class="container flex flex-col">
          <div class="links-container flex flex-col gap-1">
            <div class="heading">
              <h1>Links</h1>
            </div>
            <div class="links flex flex-col gap-1">
              <a href="/">
                <p>Home</p>
              </a>

              <a href="/blogs">
                <p>Blogs</p>
              </a>

              <a href="#">
                <p>Contact Us</p>
              </a>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="media-container flex flex-col gap-1">
            <div class="heading">
              <h1>Social Media</h1>
            </div>
            <div class="icons flex gap-1">
              <a href="#">
                <i class="ri-instagram-line"></i>
              </a>

              <a href="#">
                <i class="ri-linkedin-box-fill"></i>
              </a>

              <a href="#">
                <i class="ri-google-fill"></i>
              </a>

              <a href="#">
                <i class="ri-twitter-fill"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
